<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Registrar</h1>

<form action="/register" method="POST">
    <div>
        <label for="name">Nome</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="username">Email</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="profissao">Medico ou paciente?</label>
        <select name="profissao" id="profissao">
            <option value="paciente">Paciente</option>
            <option value="medico">Medico</option>
        </select>
    </div>
    <div>
        <label for="CPF">CPF</label>
        <input type="text" id="cpf" name="cpf" required>
    </div>
    <div id="crmDiv">
        <label for="CRM">CRM</label>
        <input type="text" id="crm" name="crm">
    </div>
    <div>
        <label for="rua">Rua</label>
        <input type="text" id="rua" name="rua" required>
    </div>
    <div>
        <label for="ncasa">N Casa</label>
        <input type="text" id="ncasa" name="ncasa" required>
    </div>
    <div>
        <label for="ncasa">CEP</label>
        <input type="text" id="cep" name="cep" required>
    </div>
    <div>
        <label for="ncasa">Bairro</label>
        <input type="text" id="bairro" name="bairro" required>
    </div>
    <div>
        <label for="ncasa">Telefone/celular</label>
        <input type="text" id="telefone" name="telefone" required>
    </div>
    <div id="optsMedico">
        
    </div>
    <div id="optsPaciente">

    </div>
    <div>
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" required>
    </div>

    <button type="submit">Registrar</button>
</form>
<a href="/login">Login</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(() => {
        $('#username').focus(() => {
            $('#eMessage').fadeOut(125);
        })
        setInterval(() => {
            if($('#profissao').val() == 'paciente') { 
                $('#crmDiv').css({'display':'none'}) ;
                $('#crm').prop('required', false);
                $('#crm').val('')
            }
            else {
                $('#crmDiv').css({'display':'block'});
                $('#crm').prop('required', true);
            }
        }, 500)
    });
</script>
</body>
</html>